<a href="<%= url_for(dog) %>", data-turbolinks="false">
  <article class="dog">
    <h2 class="dog-name"><%= dog.name %></h2>
    <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
  </article>
</a>
