/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#layout {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

/* ------ iPhone 5/SE, 6/7/8, 6/7/8 Plus, X ------ */
/* Mobile first, thumbnails 1 across */
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  height: auto;
  width: auto;
  padding: 20px;
}

/* ----------- iPad 3, 4 and Pro 9.7" ------------ */
/* Thumbnails 2 across */
@media only screen
and (min-width: 768px)
and (-webkit-min-device-pixel-ratio: 2) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------------------  Desktop ------------------- */
/* Thumbnails 3 across */
@media only screen
and (min-width: 1025px)
and (-webkit-min-device-pixel-ratio: 2) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.dog {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dog img {
  height: 100%;
  width: 100%;
}
